@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Montserrat", system-ui, sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  will-change: transform, padding, height;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
